/*font-family: "Raleway", sans-serif;
font-family: "Roboto", sans-serif;*/


body{
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #ffffff;
}

/*reset*/

ul, ol{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6, p{
    margin: 0;
}

a {
    text-decoration: none;
}


/*commen*/

.conteiner{
    max-width: 1158px;
    padding: 0 15px;
    margin: 0 auto;

}

/*header*/

.page-header{
border-bottom: 1px solid #e7e9fc;
box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
0px 1px 1px rgba(46, 47, 66, 0.16),
0px 2px 1px rgba(46, 47, 66, 0.08);
}

.header-container{
display: flex;
align-items: center;
}

.header-nav{
display: flex;
align-items: center;
}

.nav-list{
display: flex;
align-items: center;
gap: 40px;
}

.contacts-list{
display: flex;
align-items: center;
gap: 40px;
}

.logo{
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4D5AE5;
}

.header-logo{
padding: 24px 0;
margin-right: 76px;
}

.header-logo .logo-part{
   color:#2E2F42;
}

.logo-part{
    color: #F4F4FD;
}

.nav-link{
    padding: 24px 0;
    display: block;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #2E2F42;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-link.current{
position: relative;

}

.nav-link.current::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -1px;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: #404bbf;

}

.contacts{
    font-style: normal;
    margin-left: auto;
}

.contacts-link{
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    display: block;
    padding: 24px 0;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #434455
    
}

.nav-link:hover,
.nav-link:focus,
.contacts-link:hover,
.contacts-link:focus,
.nav-link.current {
    color: #404bbf;
}

/*перша секція*/

.section-one{
    background-color: #2E2F42;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), 
    rgba(46, 47, 66, 0.7)), url(../images/img-name.jpg);
    max-width: 1440px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin: 0 auto;
    padding: 188px 0
}

.container{
    width: 1158px;
    margin: 0 auto;
    padding: 0 15px;
}

.page-title{
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    color:#FFFFFF;
    max-width: 496px;
    margin-bottom: 48px;
    margin-left: auto;
    margin-right: auto;
}

.title-button{
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;
    color: #FFFFFF;
    cursor: pointer;
    display: block;
    min-width: 169px;
    height: 56px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-bottom: 48px;
    margin-left: auto;
    margin-right: auto;
    background-color: #4D5AE5;
    font-size: 16px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.title-button:hover,
.title-button:focus {
    background-color: #404BBF;
}

/*друга секція*/
.directions{
    padding: 120px 0;
}

.directions-title {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.directions-list{
    display: flex;
    gap: 24px;
    padding-left: 0;
    margin: 0;
    list-style: none;
}

.directions-item{
    width: calc((100% - 3 * 24px) / 4);
    list-style: none;
}

.svg-icons{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 112px;
    background-color: #F4F4FD;
    border-radius: 4px;
    border: 1px solid #8E8F99;
    margin-bottom: 8px;
}

.directions-item-title{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}

.directions-item-text{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

/*третя секція*/
.specialists{
    background-color: #F4F4FD;
    padding: 120px 0;
}

.specialists-title{
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
    margin-bottom: 72px;
}

.specialists-list{
    display: flex;
    gap: 24px;
}

.specialists-list-item{
    background-color: #FFFFFF;
    width: calc((100% - 72px) / 4);
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 
    0px 1px 1px rgba(46, 47, 66, 0.16), 
    0px 2px 1px rgba(46, 47, 66, 0.08);
}

.specialists-images{
display: block;
}

.list-container{
    padding: 32px 0;
}

.specialists-item-name{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    text-align: center;
}

.specialists-name-text{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    text-align: center;
}

.social-icons-svg-list{
    display: flex;
    justify-content: center;
    gap: 24px;
}

.social-icons{
    width: 40px;
    height: 40px;
}

.icons-item-svg{
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icons-item-svg:hover {
    background-color: #404bbf;
}

.icons-item-svg:focus {
    background-color: #404bbf;
}
.social-icons-svg-list{
    display: flex;
    align-items: center;
    gap: 24px;
}


.item{
    fill: #F4F4FD;
}

/*четверта секція*/
.communication{
    padding-top: 120px;
    padding-bottom: 120px;
}

.communication-title{
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
    margin-bottom: 72px;
}

.communication-link{
    display: flex;
    flex-wrap: wrap;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
    margin: 0;
    padding-left: 0;
}

.communication-item{
    background-color: #FFFFFF;
    margin-bottom: 0px;
    width: calc((100% - 48px)/3);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.communication-item:hover{
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16),
    0px 2px 1px rgba(46, 47, 66, 0.08);
    transform: translateY(0%);
}

.section-fourth-images {
    position: relative;
    overflow: hidden;
}

.section-fourth-paragraph {
    position: absolute;
    top: 0;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    padding: 40px 32px;
    background-color: #4d5ae5;
    height: 100%;
    width: 100%;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.communication-item:hover .section-fourth-paragraph{
    transform: translateY(0%);
}

.fourth-section-container{
        padding: 32px 16px;
        border: 1px solid #e7e9fc;
        border-top: none;
}

.communication-item-name{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}


.communication-item-text{
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: #434455;
}


/*футер секція*/

.page-footer{
    background-color:#2e2f42;
    padding: 100px 0;
}

.container-footer {
    display: flex;
    align-items: baseline;
}

.logo-text-footer {
    margin-right: 120px;
}
.webstudio-second{
    margin-right: 120px;
}

.page-footer .container {
    display: flex;
    align-items: baseline;
}

.footer-logo{
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    font-family: "Raleway", sans-serif;
    gap: 0px;
    margin-bottom: 16px;
    display: inline-block;
}

.text{
color: #f4f4fd;
}

.footer-text{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    width: 264px;
}

.social-block{
    align-items: baseline;
    margin-right: 120;
}
 
.social-text{
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    font-size: 16px;
    margin-bottom: 16px;
}

.footer-list-icons {
    display: flex;
    gap: 16px;
    justify-content: center;
    margin-top: 8px;
}

.footer-list-items {
    width: 40px;
    height: 40px;
}

.icons-item-svg{
width: 100%;
height: 100%;
background-color: #4d5ae5;
border-radius: 50%;
display: flex;
align-items: center;
justify-content: center;
transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icons-item-svg:hover,
.icons-item-svg:focus {
    background-color: #404bbf;
}

.footer-social-link:hover {
    background-color: #31D0AA;
}

.footer-social-link:focus {
    background-color: #31D0AA;
}

.footer-link-icon:hover {
    fill: #FFFFFF;
}

.footer-link-icon:focus {
    fill: #FFFFFF;
}

.subscribtion-container {
    margin-left: auto;
   
}

.subsc-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #fff;
    margin-bottom: 16px;
}

.form-footer {
    display: flex;
    flex-direction: row;
    gap: 24px;
}

.label-footer

.email-footer-input {
    border: 1px solid #fff;
    border-radius: 4px;
    min-width: 264px;
    height: 40px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    background-color: #2e2f42;
    font-size: 12px;
    background-color: transparent;
    letter-spacing: 0.04em;
    line-height: 2;
    padding-left: 16px;
    color: #ffffff;
}

.email-footer-input::placeholder {
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    color: #ffffff;
    padding: auto;
    padding-left: 16px;
}

.email-footer-input:hover,
.email-footer-input:focus {
    background-color: #404BBF;
}

.btn-footer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    
    border-radius: 4px;
    padding: 8px 24px;
    height: 40px;
    background-color: #4d5ae5;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    text-align: center;
    color: #fff;
    cursor: pointer;
    font-family: "Roboto", sans-serif;
    min-width: 165px;
    border: none;
}

.btn-footer:hover,
.btn-footer:focus {
    background-color: #404BBF;
}

.footer-icon-btn {
    margin-left: 16px;
    fill: white;
}


/*MODAL*/

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.4);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
        opacity: 0;
        visibility: hidden;
        pointer-events: none;
}

.backdrop.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
        /*opacity: 0;
        visibility: hidden;
        pointer-events: none;*/
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 408px;
    min-height: 584px;
    background-color: #fcfcfc;
    border-radius: 4px;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 2px 1px 0 rgba(0, 0, 0, 0.2);
    transform: translate(-50%, -50%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding: 72px 24px 24px 24px;
    display: flex;
    flex-direction: column;
}

.backdrop:not(.is-open) .modal {
    transform: translate(-50%, -50%), scale(1.5);
}

.btn-close-modal {
    position: absolute;
    top: 24px;
    right: 24px;
    border-radius: 4px;
    background-color: #e7e9fc;
    width: 24px;
    height: 24px;
    margin-bottom: 64px;
    border: none;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    cursor: pointer;
    border: 1px solid rgba(0, 0, 0, 0.1);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.btn-close-modal:hover,
.btn-close-modal:focus {
    background-color: #404bbf;
    border: none;
}

.btn-close-modal:hover>svg,
.btn-close-modal:focus>svg {
    fill: #ffffff;
}

.modal-icon-close {
    fill: black;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-item {
    margin-bottom: 8px;
}

.label-form {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
    display: block;
    margin-bottom: 4px;
}

.textarea-comment {
    padding: 8px, 16px;
    height: 120px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    width: 100%;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    background-color: transparent;
    outline: transparent;
    resize: none;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    color: rgba(46, 47, 66, 0.4);
}

.textarea-comment:focus {
    border-color: #4D5AE5;
}

.textarea-comment::placeholder {
    color: rgba(46, 47, 66, 0.4);
}

.btn-form-send {
    display: block;
    min-width: 169px;
    height: 56px;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.04em;
    line-height: 1.5;
    color: #ffffff;
    cursor: pointer;
    background-color: #4D5AE5;
    border: none;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    margin: 0 auto;
}

.btn-form-send:hover,
.btn-form-send:focus {
    background-color: #404BBF;
}

.modal-text {
    margin-bottom: 16px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
}

.input-icon-wrap {
    position: relative;
}

.modal-icon {
    position: absolute;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input-form {
    width: 100%;
    height: 40px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    background-color: transparent;
    padding-left: 38px;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input-form:focus {
    border-color: #4D5AE5;
}

input:focus+svg {
    fill: #4D5AE5;
}

.textarea-comment-wrap {
    margin-bottom: 16px;
    color: rgba(46, 47, 66, 0.4);
}

.form-checkbox {
    margin-bottom: 24px;
}

.visually-hidden{
position: absolute;
width: 1px;
height: 1px;
margin: -1px;
border: 0;
padding: 0;
white-space: nowrap;
clip-path: inset(100%);
clip: rect(0 0 0 0);
overflow: hidden;
}

.checkbox-text {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
       
}

.checkbox-icon {
    width: 16px;
    height: 16px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        border 250ms cubic-bezier(0.4, 0, 0.2, 1),
        fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    fill: transparent;
    border-radius: 2px;
    margin-right: 8px;
}


.tick:checked+.checkbox-text>.checkbox-icon {
    fill: #F4F4FD;
    background-color: #404bbf;
    border: none;
}

.modal-link {
        line-height: 1.33;
        text-decoration: underline;
        text-decoration-skip-ink: none;
        color: #4d5ae5;
}

.textarea-comment {
    padding: 8px 16px;
}
